<header>
    <div class="container">
      <a routerLink="/" class="logo">PK ☺ Food Corner</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/about">About</a>
          </li>
          <li class="menu-container">
            <a routerLink="/dashboard">Details</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a routerLink="/logout">Logout</a>
            </div>
          </li>
          <li>
            <a routerLink="/cart-page">
              Cart </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
